.event-data {
    list-style-type: none;
}

.pagination nav {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 18rem;
}

.card img {
    max-height: 65%;
}

.card-header {
    height: 350px;
}

.bd-highlight {
    background-color: rgba(86,61,124,0.15);
    border: 1px solid rgba(86,61,124,0.15);
}

main {
    min-height: 78vh;
}

main .page-item.active .page-link {
    background-color: rgb(40, 167, 69);
    border-color: rgb(45, 188, 76);
}

main .pagination > li > a,
main .pagination > li > span {
    color: #6c757d;
}

main .pagination > .active > a,
main .pagination > .active > a:focus,
main .pagination > .active > a:hover,
main .pagination > .active > span,
main .pagination > .active > span:focus,
main .pagination > .active > span:hover {
    background-color: green;
    border-color: rgb(45, 188, 76);
}

@media (max-width: 768px) {
    .card {
        margin-left: auto;
        margin-right: auto;
    }
}
